*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h3{
    color: rgb(87, 87, 87);
    font-size: 35px;
    font-weight: 400;
}

p{
    color: rgb(87, 87, 87);
    font-size: 20px
}
.topo{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.89);
    z-index: 1;
   
}

.topo-conteudo{
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;

}

.logo span{
    color: rgb(101, 145, 196);
}
.logo a, .menu a{
    text-decoration: none;
    
}
.logo h1, .menu a{
    font-weight: 400;
    color: rgb(87, 87, 87);
    padding: 10px;
}
.logo h1:hover{
    box-shadow: 0 0 25px  rgb(101, 145, 196);  
    border-radius: 15px;
}
.menu a{
    font-size: 22px;
    
}

.menu a:hover{
    box-shadow: 0 0 25px  rgb(101, 145, 196);  
    border-radius: 15px;
    font-size: 23px;
}
.menu{
    display: flex;
    width: 280px;
    justify-content: space-between;
}
.banner{
    position: relative;
    background-image: url(../img/img-fundo.jpg);
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner div{
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 470px;
    height: 200px;
    background-color: rgba(49, 155, 89, 0.555);
    left: 0;
    right: 0;
    top: 40%;
    margin: 0 auto;
    color: white;
    border: 1px solid white;

}
.banner div p{
    color: white;
}

.banner div h2{
    font-size: 55px;
}
.banner div p{
    font-size: 25px;
}

.quartos{
    width: 1024px;
    text-align: center;
    margin: 60px auto 0 auto;
    color: rgb(87, 87, 87);
    line-height: 35px;
    font-size: 20px;
}

.quartos h3{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 25px;
}

.quartos-img div img{
    width: 300px;
}
.quartos-img{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.quartos-img div{
    border-bottom: 3px solid rgb(1, 117, 102);
}
.quartos-img div:hover{
    border-bottom: 3px solid rgb(101, 145, 196);
}
.quartos-img div img:hover{
    width: 340px;
    transition: 280ms;
}
.quartos-img div a{
    text-decoration: none;
    color: rgb(87, 87, 87);
}

.quartos-img div h3{
    font-size: 20px;
    font-weight: 600;
}

#rota{
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    padding-top: 70px;
}
#rota iframe{
    margin-top: 40px;
}

#sobre{
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}
.header-sobre{
    margin-bottom: 35px;
    line-height: 55px;
}

.sobre-conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    width: 1024px;
    margin: 50px auto 0 auto;
}
.card-sobre{
    display: flex;
    width: 475px;
    align-items: center;
}
.texto-card{
    width: 385px;
    margin-right: 15px;
    
}
.texto-card p{
    font-size: 16px;
}
.texto-card h4{
    color: rgb(87, 87, 87);
    font-size: 20px;
    margin-bottom: 20px;
}
.img-sobre{
    width: 120px;
    height: 140px;
}

.piscina{
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}
.quarto{
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
}
.buffet{
    background-image: url(../img/img3.jpg);
    background-size: cover;
    background-position: center;
}
.recepcao{
    background-image: url(../img/img5.jpg);
    background-size: cover;
    background-position: center;
}

.rodape{
    width: 100%;
    background-color: rgb(1, 117, 102);
    margin-top: 45px;
    padding-top: 35px;
    
}
.conteudo-rodape{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #fff;
    border-bottom: 2px solid rgb(1, 105, 91);
    padding-bottom: 35px;

}
.rodape h4{
    font-size: 22px;
}
.item-rodape{
    width: 250px;
    display: flex;
    align-items: center;
    
}
.item-rodape a{
    text-decoration: none;
    color: #fff;
}
.item-rodape a:hover{
    font-size: 18px;
    transition: 200ms;
}
.icon{
    padding: 10px;
}
.icon img{
    width: 40px;
}

.cop{
    background-color: rgb(1, 117, 102);
    margin: 25px auto 0 auto;
    text-align: center;
    padding-bottom: 25px;
}

.cop p{
    color: #fff;
    font-size: 15px;
}
